	<footer class="footer py-5 d-flex justify-content-center">
	    <div class="container">
	        <div class="row">
	            <!-- first div finish -->
	            <div class="col-md-9">
	                <div class="row">
	                    <!-- <div class="col"></div> -->
	                    <div class="col-lg-3 col-md-4 col-sm-6 footer-columns ">
	                        <h2 class="footer-heading-texts">Company</h2>
	                        <ul>
	                            <li class="footer-paragraph-texts">About Us</li>
	                            <li class="footer-paragraph-texts">Customers</li>
	                            <li class="footer-paragraph-texts">Community</li>
	                            <li class="footer-paragraph-texts">Request a Feature</li>
	                            <li class="footer-paragraph-texts">Nonprofits</li>
	                        </ul>
	                    </div>
	                    <div class="col-lg-3 col-md-4 col-sm-6 footer-columns ">
	                        <h2 class="footer-heading-texts">Products</h2>
	                        <ul>
	                            <li class="footer-paragraph-texts"><a
	                                    href="https://www.fiverr.com/share/yWQkYA">Website</a></li>
	                            <li class="footer-paragraph-texts"><a href="https://www.fiverr.com/share/zrae5v">Email</a>
	                            </li>
	                            <li class="footer-paragraph-texts"><a href="https://www.fiverr.com/share/mYy8oP">PSD to
	                                    html</a></li>
	                            <li class="footer-paragraph-texts"><a href="#">Theme Development</a></li>
	                        </ul>
	                    </div>
	                    <div class="col-lg-3 col-md-4 col-sm-6 footer-columns">
	                        <h2 class="footer-heading-texts">Company</h2>
	                        <ul>
	                            <li class="footer-paragraph-texts">About Me</li>
	                            <li class="footer-paragraph-texts">Customers</li>
	                            <li class="footer-paragraph-texts">Community</li>
	                            <li class="footer-paragraph-texts">Request a Feature</li>
	                            <li class="footer-paragraph-texts">Nonprofits</li>
	                            <!-- <li class="footer-paragraph-texts">Buffer Brand kit</li>
								<li class="footer-paragraph-texts">Press</li>
								<li class="footer-paragraph-texts">Accessibility</li> -->
	                        </ul>
	                    </div>
	                    <div class="col-lg-3 col-md-4 col-sm-6 footer-columns">
	                        <h2 class="footer-heading-texts">Transparency</h2>
	                        <ul>
	                            <li class="footer-paragraph-texts">Culture Blog</li>
	                            <li class="footer-paragraph-texts">Customers</li>
	                            <li class="footer-paragraph-texts">Salary Calculator</li>
	                            <li class="footer-paragraph-texts">Transparent Salaries</li>
	                            <li class="footer-paragraph-texts">Revenue Dashboard</li>
	                            <!-- <li class="footer-paragraph-texts">Diversity Dashboard</li>
								<li class="footer-paragraph-texts">Product Roadmap</li> -->
	                        </ul>
	                    </div>
	                </div>
	            </div>
	            <!-- add that bottom here -->
	            <div class="col-md-3">
	                <div class="row">
	                    <div class="col-12 footer-columns">
	                        <div class="footer-column-1">
	                            <h1 class="">insta_code</h1>
	                            <div class="footer-social-button">
	                                <ul>
	                                    <li><a href="https://www.linkedin.com/in/abu-taher-saikat-200101142/"><img
	                                                src="img/LinkedIn.png" alt=""> Linkdin</a></li>
	                                    <li><a href="https://twitter.com/home"><img src="img/Twitter.png" alt="">
	                                            Twitter</a></li>
	                                    <li><a href="https://www.fiverr.com/insta_code?up_rollout=true"><img
	                                                src="img/fiverr.png" alt=""> Fiverr</a></li>
	                                    <li><a href="https://github.com/saikat1095"><img src="img/github.svg" alt="">
	                                            Git Hub</a></li>
	                                    <li><a href="https://www.instagram.com/abutaher.saikat/"><img
	                                                src="img/Instagram.png" alt=""> Instagram</a></li>
	                                    <li><a href="https://www.facebook.com/instacodewithsaikat"><img
	                                                src="img/Facebook.png" alt=""> Facebook Fan page</a></li>
	                                </ul>

	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="copyright">
	                <p class="text-center"> Copyright ©2020 insta_code | Privacy | Terms | Security </p>
	            </div>
	        </div>
	    </div>
	</footer>